{:deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/clojurescript {:mvn/version "1.10.764"}
        com.bhauman/figwheel-main {:mvn/version "0.2.12"}
        com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
        
        ;; server side
        ring/ring-core {:mvn/version "1.8.2"}
        ring/ring-jetty-adapter {:mvn/version "1.8.2"}
        hiccup/hiccup {:mvn/version "1.0.5"}}
 :paths ["src/cljs" 
         "src/clj" 
         "target" 
         "resources"]
 :aliases {:fig {:main-opts ["-m" "figwheel.main"]}}}
