{:deps {ring/ring-core {:mvn/version "1.8.1"}
        ring/ring-jetty-adapter {:mvn/version "1.8.1"}
        bidi/bidi {:mvn/version "2.1.6"}
        hiccup/hiccup {:mvn/version "1.0.5"}}
 :paths ["src" "resources"]}